<%- include("./layout_base.ejs", null ) %>

<h1>Welcome</h1>
<hr />
<div>
    <!--
    <% if(valid_login){ %>
        <a href="/logout">[ Logout ]</a><br /><hr />
    <% }else{ %>
        <a href="/login">[ Login ]</a><br /><hr />
    <% } %>
    -->
    User : <%= mail %>
</div>


